.main_cv {
    background-color: #1abc9c;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 80%;
    margin: auto;
}

.header_cv{
    background-color: rgb(150, 235, 175);
    opacity: 0.8;
    color: white;
    grid-column: 1/4;
    grid-row: 1;
    height: 300px;
    border-radius: 50px;
}

.header_cv_grid{
    display: flex;
    flex-direction: line;
}
.navbar_cv{
    background-color: rgb(150, 235, 175);
    opacity: 0.8;
    color: white;
    font-weight: 700;
    font-size: 21px;
    grid-column: 2/4;
    grid-row: 2/5;
    height: 500px;
    border-radius: 50px;
    padding: 50px;
}
.navbar_cv_grid_skills > h2{
    border-bottom: 3px solid white;
    width: 100px;
}
.global_cv{
    background-color: rgb(150, 235, 175);
    opacity: 0.8;
    color: white;
    font-weight: 700;
    font-size: 21px;
    grid-column: 1;
    grid-row: 2/5;
    border-radius: 50px;
    padding: 50px;
}

.profil_picture > img {
    border-radius: 20%;
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 300px;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.profil_picture > img:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}


.profil_title{
    margin-top: 50px;
    font-size: 35px;
    font-weight: 700;
}
.global_cv_pdf{
    margin-top: 200px;
    border: 1px solid white;
    width: 5em;
    height: 1.5em;
    padding: 5px;
    border-radius: 5px;
    background-color: teal;
    cursor: pointer;
}